* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

.header {
  font-size: 20px;
  text-align: center;
}

#array {
  background-color: white;
  height: 265px;
  width: 750px;
  margin: auto;
  position: relative;
  margin-top: 64px;
}

.block {
  width: 28px;
  background-color: #28527a;
  position: absolute;
  bottom: 0px;
  transition: 0.2s all ease;
}

.block2 {
  width: 28px;
  background-color: darkgray;
  position: absolute;
  transition: 0.2s all ease;
}

/* label for columns */
.block_id {
  position: absolute;
  color: black;
  margin-top: -20px;
  width: 100%;
  text-align: center;
}
/* Count indices */
.block_id2 {
  position: absolute;
  color: black;
  margin-top: 22px;
  padding-top: 5px;
  width: 100%;
  text-align: center;
}
/* frequency counts */
.block_id3 {
  position: absolute;
  color: black;
  margin-top: 1px;

  width: 100%;
  text-align: center;
}

#count {
  height: 100px;
  width: 750px;
  margin: auto;
}

.sortStatus {
  font-size: 20px;
  text-align: center;
}
