:root {
  --mainColor: #005874; /* #206a5d;*/
  --secondaryColor: #ffbe00; /*#81b214;*/
  --accentColor: #1c819e; /* #bfdcae;*/
  --bkgColor: #e6e6d4; /* #f1f1e8;*/
}

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

/*off white background and off-black base text*/
body {
  background-color: var(--bkgColor);
  color: #444444;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

nav {
  display: inline-block;
  position: absolute;
  top: 90px;
  left: 25px;
  width: 200px;
}

ul {
  list-style-type: none;
}

.header {
  text-align: center;
}

#array {
  height: 265px;
  width: 750px;
  margin: auto;
  position: relative;
  margin-top: 64px;
  display: block;
  align-items: center;
}

#count {
  height: 100px;
  width: 750px;
  margin: auto;
  align-items: center;
}

.block {
  width: 28px;
  background-color: #28527a;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  position: absolute;
  bottom: 0px;
  transition: 0.2s all ease;
}

.block2 {
  width: 28px;
  /*background-color: darkgray;*/
  position: absolute;
  transition: 0.1s all ease;
  background-color: var(--bkgColor);
  color: #444444;
}

/* label for columns */
.block_id {
  position: absolute;
  margin-top: -20px;
  width: 100%;
  text-align: center;
  background-color: var(--bkgColor);
  color: #444444;
}
/* Count indices */
.block_id2 {
  position: absolute;
  margin-top: 22px;
  padding-top: 5px;
  width: 100%;
  text-align: center;
  background-color: var(--bkgColor);
  color: #444444;
}
/* frequency counts */
.block_id3 {
  position: absolute;
  margin-top: 1px;

  width: 100%;
  text-align: center;

  background-color: var(--bkgColor);
  color: #444444;
}

.sortStatus {
  font-size: 20px;
  text-align: center;
}

.titleBlock {
  text-align: center;
  margin-top: 50px;
}

.button {
  background-color: var(--accentColor);
  border: none;
  color: var(--bkgColor);
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline;
  font-size: 16px;
  border-radius: 10px;
  margin: 10px;
  opacity: 1;
  transition: 0.2s ease-in opacity;
}

.button:disabled {
  opacity: 0;
  transition: 0.2s ease-out opacity;
}

.slideContainer {
  width: 100%;
}

/* The slider itself */
.slider {
  margin: 10px;
  appearance: none;
  width: 70%; /* Full-width */
  height: 15px; /* Specified height */
  border-radius: 5px;
  background: #d3d3d3; /* Grey background */
  outline: none; /* Remove outline */
  opacity: 0.7; /* Set transparency (for mouse-over effects on hover) */
  -webkit-transition: 0.2s; /* 0.2 seconds transition on hover */
  transition: opacity 0.2s;
}

.sliderLabel {
  text-align: center;
}

/* Mouse-over effects */
.slider:hover {
  opacity: 1; /* Fully shown on mouse-over */
}

/*most browsers*/
.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 25px;
  height: 25px;
  background: var(--accentColor);
  cursor: pointer;
  border-radius: 10px;
}

.slider:disabled::-webkit-slider-thumb {
  background: #939393;
}

/*firefox*/
.slider::-moz-range-thumb {
  width: 25px;
  height: 25px;
  background: var(--accentColor);
  cursor: pointer;
  border-radius: 10px;
}

.slider:disabled.slider::-moz-range-thumb {
  background: #939393;
}
